@font-face {
  font-family: "Open sansLight";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""),
    url("../../components/fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../../components/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RubikMedium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("../../components/fonts/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RubikBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("../../components/fonts/Rubik-SemiBold.ttf") format("truetype");
}
