.footer {
  background-color: #2b2d3a;
  height: 396px;
  display: flex;
  align-items: center;
  @include tablet {
    height: auto;
    padding: 20px 0 30px 0;
  }

  &__container {
    width: var(--width-container);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-open-sans);
    font-size: 16px;
    line-height: normal;
    flex-wrap: wrap;
    @include small-laptop {
      width: 90vw;
      row-gap: 60px;
    }
    @include tablet {
      font-size: 13px;
      row-gap: 20px;
    }
  }
  &__link {
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      border-bottom: 2px solid var(--hover-color);
    }
    width: min-content;
    white-space: nowrap;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    width: 205px;
    text-align: start;
    gap: 10px;
    @include tablet {
      flex-basis: 100%;
      text-align: center;
    }
  }
  &__logoSvg {
    &:hover * {
      fill: var(--hover-color);
    }
    & path {
      transition: fill 0.3s ease;
    }
    & path {
      fill: var(--text-color);
    }
    width: 196px;
    height: 42px;
    @include tablet {
      width: 102px;
    }
  }
  &__linkFlex {
    display: flex;
    gap: 3vw;
    text-align: start;
    @include small-laptop {
      flex-basis: 60%;
      gap: 2vw;
      justify-content: space-between;
    }
    @include tablet {
      flex-basis: 100%;
      flex-wrap: wrap;
      row-gap: 20px;
      column-gap: 20px;
      justify-content: center;
      > :first-child {
        flex-basis: 100%;
        text-align: center;
      }
    }
  }
  &__copyright {
    width: 359px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include small-laptop {
      align-items: center !important;
      flex-basis: 100% !important;
      max-width: 100% !important;
      text-align: center;
    }
  }
}
